* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "roguehero";
    src: url("../fonts/roguehero.ttf");
}
/*-----------------------------------------------------*/
                                /*HEADER Accueil*/

header {
    display: flex;
    width: 100%;
    background-color: #503B31;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

ul li {
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logoDuSite {
    width: 200px;
    padding-top: 15px;
}

/*----------------------------------------------------------------*/
                            /*MAIN Accueil Page1*/
.wrapperHome {
    display: flex;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

h1 {
    color: white;
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#explicationSite {
    color: #6D28D9;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(+90%, -60%);
}

#regle {
    color: #6D28D9;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(+100%, +50%);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#turboAccueil {
    width: 100%;
    height: 100%;
}

#turboChaud {
    width: 100%;
    height: 70%;
}

#moteurInterieur {
    width: 100%;
    height: 30%;
}

/*----------------------------------------------------------------------*/
                                /*PAGE 2 Connexion*/
h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}

form{
    display: block;
    margin:50px auto;
    width:30%;
}

input, select{
    display: block;
    background-color: white;
    border:solid 1px rgb(3, 0, 52);
    border-radius:8px;
    margin:10px 0;
    width:100%;
    padding:10px;
    font-size: 1.2rem;
}

::placeholder{
    color:rgba(3, 0, 52, 0.6);
    font-size: 0.7rem;
}

.inputWrapper{
    display: flex;
    gap:5px;
    position: relative;
}

input{
    border:none;
    border-bottom: solid 1px white;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.5rem;
}

input::placeholder {
    color: #FFFFFF;
    font-size: 15px;
}

input[type="submit"]{
    width:100%;
    color:white;
    background-color:rgb(3, 0, 52);
    transition: all 1s ease;
    cursor: pointer;
}
#submit{
    position: relative;
    width:40%;
    margin-left:auto;
}

#submit::before{
    content:"\21E8";
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    font-size:1.2rem;
    background-color: red;
    border-radius: 50%;
    padding:10px;
    border:solid 3px #3b82f6;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    position: absolute;
    left:-25px;
    top:50%;
    transform: translate(0,-50%);
    transition: all 1s ease;
}


#submit:hover::before{
    transform: translate(300px, -50%) rotate(180deg);
    box-shadow: -2px -2px 2px rgba(0,0,0,0.7);
}

#submit:hover input[type="submit"]{
    background-color: #3b82f6;
    color: #020202;
}


#revue {        /*Parent*/
    width: 25%;
    margin-left: 40px;
    padding: 5px;
}

img {          /*enfant*/
    width: 100%;
}

/********************************MAIN connexion Page3********************************/

form{
    width:50%;
    display: block;
    background-color: rgba(0,0,0,.5);
    padding:20px;
    margin:auto;
}

.inputWrapper{
    position: relative;
    margin:50px 0;
}

input, label{
    display: block;
    width:100%;
}

label{
    position: absolute;
    top:0;
    left:0;
    color: #FFFFFF;
    font-family: roguehero, sans-serif;
    transition: .5s;
    font-size: 30px;
}

input{
    border:none;
    border-bottom: solid 1px white;
    background-color: transparent;
}

input:not(:placeholder-shown) + label, input:focus + label{
    transform: translateY(-30px);
}

img {
    display: flex;
    position: relative;

}
#revue {
    font-size: 25%;
}

#logoConnexion {
    font-size: 25%;
    position: absolute;
}

#inscription {
    display: flex;
    align-items: center;
}



/*----------------------------------------------------------------------*/
                                /*FOOTER Accueil*/
footer nav {
    background-color: #020202;
    width: 100%;
    height: 50px;
}

.lien {
    display: flex;
    justify-content: space-between;
}





