* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@font-face {
    font-family: "roguehero";
    src: url("../fonts/roguehero.ttf");
}
/*-----------------------------------------------------*/
                                /*HEADER Accueil*/

header {
    display: flex;
    width: 100%;
    background-color: #503B31;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

ul li {
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logoDuSite {
    width: 200px;
}

.lien{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#flashSuccess{
    background-color: green;
}

#flashFail{
    background-color: red;
}

#flashFail, #flashSuccess{
    padding: 2%;
}

/*----------------------------------------------------------------*/
                            /*MAIN Accueil Page1*/
.wrapperHome {
    display: flex;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

h1 {
    box-shadow: 5px 5px 2px navajowhite;
    color: white;
    position: absolute;
    bottom: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 800;
}

#explicationSite {
    color: #6D28D9;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(+90%, -60%);
    z-index: 200;
}

#regle {
    color: #6D28D9;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(+100%, +50%);
    z-index: 250;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#turboAccueil {
    width: 100%;
    height: 100%;
}

#turboChaud {
    width: 100%;
    height: 70%;
}

#moteurInterieur {
    width: 100%;
    height: 30%;
}

/*----------------------------------------------------------------------*/
                                /*PAGE 2 Inscription*/


form{
    display: block;
    width:50%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:20px;
    background-color: rgba(0,0,0,.5);
}

input, select, textarea{
    display: block;
    background-color: transparent;
    color: #FFFFFF;
    border:solid 1px white;
    border-radius:8px;
    margin:10px 0;
    width:100%;
    padding:10px;
    font-size: 1.2rem;
}

::placeholder{
    color:rgba(3, 0, 52, 0.6);
    font-size: 0.7rem;
}

.inputWrapper{
    display: block;
    gap:5px;
    position: relative;
    width:100%;
}



input::placeholder {
    color: #FFFFFF;
    font-size: 15px;
}

input[type="submit"]{
    width:100%;
    color:white;
    background-color:rgb(3, 0, 52);
    transition: all 1s ease;
    cursor: pointer;
}
#submit{
    position: relative;
    width:40%;
    margin-left:auto;
}

#submit::before{
    content:"\21E8";
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    font-size:1.2rem;
    background-color: red;
    border-radius: 50%;
    padding:10px;
    border:solid 3px #3b82f6;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    position: absolute;
    left:-25px;
    top:50%;
    transform: translate(0,-50%);
    transition: all 1s ease;
}


#submit:hover::before{
    transform: translate(300px, -50%) rotate(180deg);
    box-shadow: -2px -2px 2px rgba(0,0,0,0.7);
}

#submit:hover input[type="submit"]{
    background-color: #3b82f6;
    color: #020202;
}

#revue {        /*Parent*/
    width: 25%;
    margin-left: 40px;
    padding: 5px;
}

img {          /*enfant*/
    width: 100%;
}

inputWrapper, option {
   color: #020202;
}

#selected{
    color:white
}

select:focus #selected{
    color: #020202;
}

.inputWrapper{
    position: relative;
    margin:50px 0;
}

input, label{
    display: block;
    width:100%;
}

label{
    position: absolute;
    top:-45px;
    left:0;
    color: #FFFFFF;
    transition: .5s;
    font-size: 30px;
}

input{
    border:none;
    border-bottom: solid 1px white;
    background-color: transparent;
}

input:not(:placeholder-shown) + label, input:focus + label{
    transform: translateY(-30px);
}

img {
    display: flex;
    position: relative;
}

#revue {
    font-size: 25%;
}

#logoConnexion {
    font-size: 25%;
    position: absolute;
    width: 100%;
}

#inscription {
    display: flex;
    align-items: center;
}


/********************************MAIN connexionPage3********************************/


#page3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#img-leftP3{
    display: flex;
    width: 25%;
    padding: 5px;
}

#img-rigthP3{
    display: flex;
    width: 25%;
    padding: 5px;
}

/***********************Main Profile-User********************************/
#profileUser{
    margin-left: 30px;
}

    /***********************Main Page 4 DEPOT********************************/

    #formDepot {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    #formDepot form {
        margin: 0;
    }

    #left, #rigth {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22%;
    }

    #depot {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        margin-top: 20px;
    }

    #titreP4, #h4 {
        color: #020202;
        font-size: 30px;
        z-index: 10;
        text-align: center;
        position: static;
        transform: unset;
    }

    #h4 {
        font-size: 24px;
        text-align: center;
    }

    .flex {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    /* Style pour l'image à gauche */

    #img-leftP4 {
        width: 45%
    }

    #formP4 {
        position: relative;
        width: 45%
    }

    #formP4::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        height: 80%;
        width: 1px;
        background-color: #020202;
    }


    #formP4 form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #formP4 label {
        font-size: 1em;
        color: #FFFFFF;
    }

    #submit4 {
        position: relative;
        width: 40%;
        margin-left: auto;
    }

    #submit4::before {
        content: "\21E8";
        width: 25px;
        height: 25px;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 22px;
        font-size: 1.2rem;
        background-color: red;
        border-radius: 50%;
        padding: 10px;
        border: solid 3px #3b82f6;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 1s ease;
    }

    #submit4:hover::before {
        transform: translate(270px, -50%) rotate(180deg);
        box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.7);
    }

    #submit4:hover input[type="submit"] {
        background-color: #3b82f6;
        color: #020202;
    }

    /*------------------------------------------------------------------------------------*/
    /*page7 Règles de sécurity et explication du site*/

    #containerR1 {
        display: flex;
    }

    #containerE2 {
        display: flex;
    }

    /*----------------------------------------------------------------------*/
    /*FOOTER Accueil*/

    footer nav {
        background-color: #020202;
        width: 100%;
    }

    ul {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    #pieceFooter {
        display: none;
    }

    .lien {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    /*------------------------------------------------------------------------------------*/
    /*Responsive Telephone*/

    @media screen and (max-width: 480px) {
        #pieceHeader {
            display: none;
        }

        #pieceFooter {
            display: block;
        }

        ul {
            margin-top: 3%;
        }

        form {
            width: 100%;
        }

        #moteurInterieur {
            display: none;
        }

        #turboAccueil {
            width: 100%;
            height: 100%;
        }

        .wrapperHome {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }

        .wrapperHome section {
            width: 100%;
        }

        .logoDuSite {
            width: 85px;
        }
    }


