{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}
    <main class="ref">
        <h2>MOTEUR</h2>
        <div class="containerMoteur">
            <img src="MoteurR21Td.jpeg">
        </div>
        <h2>CARROSSERIE</h2>
        <div class="containerCarrosserie">
            <img src="Aile.jpg">
        </div>
        <h2>PIECE HABITACLE</h2>
        <div class="containerHabitacle">
            <img src="tableauDeBord.jpg">
        </div>
        <h2>REVUE TECHNIQUE</h2>
        <div class="containerRevue">
            <img src="revueTechnique.jpeg">
        </div>
        <h2>BIENVENUE SUR LE SITE D'ECHANGES DE PIECES R21</h2>
        <img src="logo3R21.jpeg">
        <button class="round-button">Ajouter une pièce</button>
    </main>

{% endblock %}