{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}
    <main id="inscription">
        <div id="revue">
            <img src="images/RevueTechniqueOrange.png">
        </div>
        <form method="post">
            <div class="inputWrapper">
                <input type="text" placeholder="" name="firstname">Entrez votre prénom</div>
                    <label for="firstname"></label>
            <div class="inputWrapper">
                <input type="text" placeholder="" name="name">Entrez votre nom</div>
                    <label for="name"></label>
            <div class="inputWrapper">
                <input type="email" placeholder="" name="email">Entrez votre email</div>
                    <label for="email"></label>
            <div class="inputWrapper">
                <input type="password" id="pass1" placeholder="" name="password">Entrez votre mot de passe</div>
                    <label for="password"></label>
            <div class="inputWrapper">
                <input type="password" id="pass2" placeholder="" name="passwordConfirm">Confirmez votre mot de passe</div>
                    <label for="password"></label>


            <div class="inputWrapper">
                <select>
                    <option id="selected" value="" selected disabled>Choisissez votre pays</option>
                    <option value="fr">France</option>
                    <option value="us">Etats-unis</option>
                    <option value="es">Espagne</option>
                    <option value="it">Italie</option>
                    <option value="pt">Portugal</option>
                    <option value="uk">Angleterre</option>
                    <option value="dz">Algérie</option>
                </select>
            </div>

            <div id="logoMain">
                <img src="images/LogoDuSite.png">
            </div>
            <div id="submit">
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </main>
{% endblock %}
