{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}

    <main id="accueil">
        <div class="wrapperHome">
            <h1>ECHANGES DE PIECES R21</h1>
            <h2 id="explicationSite">Explication du site</h2>
            <h3 id="regle">Règles du site</h3>
            <div id="turboAccueil">
                <img src="{{asset('images/TurboAccueil.png')}}">
            </div>
            <section>
                <div id="turboChaud">
                    <img src="{{asset('images/turboChaud.png')}}">
                </div>
                <div id="moteurInterieur">
                    <img src="{{asset('images/moteurInterieur.png')}}">
                </div>
            </section>
        </div>


        </div>
    </main>

{% endblock %}