{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}
    <main class="regle">
        <div class="logoR21">
            <img src="monogramme-renault-21.jpg">
        </div>
        <div class="faceAuto">
            <img src="R21FaceRoute.webp">
        </div>
        <div class="container-fluid id="containerR1">
                <h2>Règle du site</h2>
        <p><strong>Il est interdit de s'insulter</strong>, grossièreté, images inapropriées excluts, en gros vous serez bannis </p>
        </div>
        <div class="container-fluid id="containerE2">
               <h2>Explication du site</h2>
        <p>Bienvenue aux nouvelles et nouveaux arrivants (es), <strong>quand vous arrivez</strong>sur le site, vous devez vous inscrire
            ou vous connectez, vous pouvez entrer vos coordonnées, laisser un message et télécharger des images</p>
        </div>
    </main>

{% endblock %}