{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}
    <main id="depot">
        <img src="revueTechnique.jpeg">
        <h2>BIENVENUE SUR LE SITE D'ECHANGES DE PIECES R21</h2>
        <div class="containerCategory">
            <h3>TYPE DE LA CATEGORIE ET SON TITRE</h3>
        </div>
        <div class="containerImage">
            <h3>IMAGE DE LA PIECE</h3>
        </div>
        <div class="contrainerDescription">
            <h3>DESCRIPTION DE LA PIECE</h3>
        </div>
        <form action="">
            <div id="submit">
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </main>
{% endblock %}