{% extends 'base.html.twig' %}

{% block title %}Renault_21{% endblock %}

{% block body %}
<main id="connexion">
    <section id="page3">
    <div id="img-leftP3">
        <img src="{{asset('images/noticeIntérieur.png')}}">
    </div>
    <form action="">
        <div id="titrePage3">CONNEXION</div>

        <div class="inputWrapper position-relative">
            <input id="text" placeholder="entrez_votre_email"type="email" name="email">Entrez votre email</div>

        <div class="inputWrapper position-relative">
            <input type="password" id="text2" placeholder="Entrez_votre_mot_de_passe" name="password">Entrez votre mot de passe</div>

        <div class="inputWrapper position-relative">
            <div id="submit">
                <input type="submit" value="Connection">Connexion</div>
        </div>
    </form>
        <div id="img-rigthP3">
    <img src="{{asset('images/imageRigolotte.jpeg')}}">
    </div>
    </section>
</main>
{% endblock %}