{% extends 'base.html.twig' %}

{% block body %}
    <main id="listPieces">
        <div class="list1">
            <h4>NOM DE LA PIECE</h4>
            <h4>PIECES</h4>
        </div>
        <div class="list2">
            <h4>NOM DE LA PIECE</h4>
            <h4>PIECES</h4>
        </div>
        <div class="list3">
            <h4>NOM DE LA PIECE</h4>
            <h4>PIECES</h4>
        </div>
        <h2>BIENVENUE SUR LE SITE D'ECHANGES DE PIECES R21</h2>
        <img src="catalogueDePieces.jpeg">

        <img src="logo3R21.jpeg">

    </main>
{% endblock %}